# Import Libraries

In [15]:
import pandas as pd
import requests
from pandas.io.json import json_normalize

In [2]:
# json string                                                                                                                
URL= "https://raw.githubusercontent.com/onaio/ona-tech/master/data/water_points.json"
# read json to data frame                                                                                                    
df = pd.read_json(URL)
print(df)

                                    _attachments _bamboo_dataset_id  \
0    [north_ghana/attachments/1351696546452.jpg]
1    [north_ghana/attachments/1351701849971.jpg]
2    [north_ghana/attachments/1351702462336.jpg]
3    [north_ghana/attachments/1351702971561.jpg]
4    [north_ghana/attachments/1351703622326.jpg]
5    [north_ghana/attachments/1351703987005.jpg]
6    [north_ghana/attachments/1351704536356.jpg]
7    [north_ghana/attachments/1351705072009.jpg]
8    [north_ghana/attachments/1351705860317.jpg]
9    [north_ghana/attachments/1351706554279.jpg]
10   [north_ghana/attachments/1351707001075.jpg]
11   [north_ghana/attachments/1351707621168.jpg]
12   [north_ghana/attachments/1351709450366.jpg]
13   [north_ghana/attachments/1351709716135.jpg]
14   [north_ghana/attachments/1351756831668.jpg]
15   [north_ghana/attachments/1351757203350.jpg]
16   [north_ghana/attachments/1351757707960.jpg]
17   [north_ghana/attachments/1351758108560.jpg]
18   [north_ghana/attachments/1351758417726.jpg]
19   [north_ghana/attachments/1351758612391.jpg]
20   [north_ghana/attachments/1351758874138.jpg]
21   [north_ghana/attachments/1351759260200.jpg]
22   [north_ghana/attachments/1351759490080.jpg]
23   [north_ghana/attachments/1351759690480.jpg]
24   [north_ghana/attachments/1351759893548.jpg]
25   [north_ghana/attachments/1351760119362.jpg]
26   [north_ghana/attachments/1351760282701.jpg]
27   [north_ghana/attachments/1351760467981.jpg]
28   [north_ghana/attachments/1351760665796.jpg]
29   [north_ghana/attachments/1351761031994.jpg]
..                                           ...                ...
682  [north_ghana/attachments/1358088310852.jpg]
683  [north_ghana/attachments/1358088623044.jpg]
684  [north_ghana/attachments/1358088892160.jpg]
685  [north_ghana/attachments/1358089397621.jpg]
686  [north_ghana/attachments/1358089691620.jpg]
687  [north_ghana/attachments/1358090181657.jpg]
688  [north_ghana/attachments/1358090508402.jpg]
689  [north_ghana/attachments/1358091922178.jpg]
690  [north_ghana/attachments/1358092147417.jpg]
691  [north_ghana/attachments/1358092699300.jpg]
692  [north_ghana/attachments/1358093113580.jpg]
693  [north_ghana/attachments/1358161066089.jpg]
694  [north_ghana/attachments/1358161922579.jpg]
695  [north_ghana/attachments/1358093389708.jpg]
696  [north_ghana/attachments/1358162270663.jpg]
697  [north_ghana/attachments/1358162617658.jpg]
698  [north_ghana/attachments/1358093832731.jpg]
699  [north_ghana/attachments/1358094299791.jpg]
700  [north_ghana/attachments/1358095689995.jpg]
701  [north_ghana/attachments/1358096017481.jpg]
702  [north_ghana/attachments/1358096467873.jpg]
703  [north_ghana/attachments/1358145372548.jpg]
704  [north_ghana/attachments/1358145699497.jpg]
705  [north_ghana/attachments/1358147867717.jpg]
706  [north_ghana/attachments/1358148269595.jpg]
707  [north_ghana/attachments/1358151218133.jpg]
708  [north_ghana/attachments/1358081512606.jpg]
709  [north_ghana/attachments/1358081512606.jpg]
710  [north_ghana/attachments/1358175596571.jpg]
711  [north_ghana/attachments/1355488003808.jpg]

    _deleted_at                _geolocation     _id            _status  \
0           NaT   [10.1892764, -0.66410362]  381705  submitted_via_web
1           NaT  [10.28173052, -0.56901122]  381706  submitted_via_web
2           NaT  [10.28169238, -0.56962993]  381707  submitted_via_web
3           NaT  [10.28115661, -0.56918339]  381708  submitted_via_web
4           NaT  [10.28044635, -0.56723556]  381709  submitted_via_web
5           NaT  [10.27982056, -0.56626599]  381710  submitted_via_web
6           NaT  [10.27942235, -0.56682568]  381711  submitted_via_web
7           NaT  [10.28070429, -0.56504012]  381712  submitted_via_web
8           NaT  [10.28059063, -0.56378338]  381713  submitted_via_web
9           NaT  [10.27971937, -0.56286784]  381714  submitted_via_web
10          NaT    [10.2793958, -0.5625839]  381715  submitted_via_web
11          NaT  [10.28133509, -0.56537963]  381716  submitted_via_web
12          NaT  [10.28099019, -0.56363986]  381718  submitted_via_web
13          NaT  [10.28138874, -0.56673342]  381719  submitted_via_web
14          NaT  [10.32138904, -0.66356394]  381721  submitted_via_web
15          NaT  [10.32151082, -0.66411252]  381722  submitted_via_web
16          NaT   [10.3204651, -0.66336824]  381723  submitted_via_web
17          NaT   [10.32061519, -0.6628159]  381724  submitted_via_web
18          NaT  [10.31997119, -0.66233244]  381725  submitted_via_web
19          NaT  [10.31942854, -0.66200327]  381726  submitted_via_web
20          NaT   [10.3192668, -0.66227985]  381727  submitted_via_web
21          NaT  [10.31865831, -0.66291581]  381728  submitted_via_web
22          NaT  [10.31829957, -0.66269932]  381729  submitted_via_web
23          NaT  [10.31788859, -0.66229829]  381730  submitted_via_web
24          NaT  [10.31794782, -0.66195411]  381731  submitted_via_web
25          NaT   [10.3184971, -0.66126682]  381732  submitted_via_web
26          NaT   [10.3187797, -0.66134257]  381733  submitted_via_web
27          NaT  [10.31890404, -0.66117128]  381734  submitted_via_web
28          NaT  [10.31912724, -0.66181175]  381735  submitted_via_web
29          NaT   [10.3196532, -0.66269767]  381736  submitted_via_web
..          ...                         ...     ...                ...
682         NaT  [10.51096243, -1.37382301]  446983  submitted_via_web
683         NaT   [10.5095893, -1.37240164]  446984  submitted_via_web
684         NaT  [10.51274304, -1.37113235]  446985  submitted_via_web
685         NaT  [10.51139089, -1.36850237]  446986  submitted_via_web
686         NaT    [10.5094304, -1.3688122]  446990  submitted_via_web
687         NaT  [10.51363474, -1.37358307]  446998  submitted_via_web
688         NaT  [10.51339302, -1.37308808]  447004  submitted_via_web
689         NaT  [10.54220639, -1.35113276]  447005  submitted_via_web
690         NaT  [10.54505212, -1.35041085]  447010  submitted_via_web
691         NaT  [10.54431915, -1.34167135]  447011  submitted_via_web
692         NaT  [10.54132384, -1.34234783]  447012  submitted_via_web
693         NaT  [10.64576698, -1.21263734]  447013  submitted_via_web
694         NaT  [10.64637953, -1.20966756]  447014  submitted_via_web
695         NaT  [10.54280498, -1.34490285]  447015  submitted_via_web
696         NaT   [10.6488517, -1.21058909]  447016  submitted_via_web
697         NaT   [10.6473483, -1.21233642]  447017  submitted_via_web
698         NaT   [10.5456814, -1.34285527]  447018  submitted_via_web
699         NaT  [10.55049978, -1.34852624]  447019  submitted_via_web
700         NaT  [10.58897877, -1.35385108]  447020  submitted_via_web
701         NaT  [10.59185681, -1.36021633]  447021  submitted_via_web
702         NaT  [10.58743602, -1.35178722]  447022  submitted_via_web
703         NaT  [10.64820021, -1.21008698]  447023  submitted_via_web
704         NaT  [10.64739973, -1.21883165]  447024  submitted_via_web
705         NaT   [10.59371456, -1.2285357]  447025  submitted_via_web
706         NaT  [10.58929312, -1.21979975]  447026  submitted_via_web
707         NaT  [10.43998482, -1.22653539]  447027  submitted_via_web
708         NaT   [10.5379067, -1.38202276]  447062  submitted_via_web
709         NaT   [10.5379067, -1.38202276]  447063  submitted_via_web
710         NaT  [10.37563483, -1.34834563]  447065  submitted_via_web
711         NaT  [10.56731484, -1.30751872]  549072  submitted_via_web

       _submission_time                             _uuid  \
0   2012-11-13 07:13:57  f8bcee72d7a0400fb99ae11bbf804010
1   2012-11-13 07:14:04  c2f6b298955f47ab9f177bee1214141d
2   2012-11-13 07:14:07  6bc6d188611d47f6a666cfd1eaa33998
3   2012-11-13 07:14:14  4b28ac4cbba744d79ba4257f772f94d6
4   2012-11-13 07:14:22  7893ce5321804f229e533f36e90c9c6f
5   2012-11-13 07:14:31  107bb22055ea4ab3bf85726802b8d924
6   2012-11-13 07:14:39  7763f1b0016c481db29cfb712cd92bca
7   2012-11-13 07:14:45  42756a674ad64da391fec6f297a1313c
8   2012-11-13 07:14:51  994017efc6474709ac068974676fb7e4
9   2012-11-13 07:14:53  16a9e43e5db94637991a41328fa5ecc6
10  2012-11-13 07:14:55  71f9d4f006f4471d9c9e12ad3e951de2
11  2012-11-13 07:14:58  5a2a3144fa5449fe971ce90f7697d48c
12  2012-11-13 07:15:03  1a5fb1d28e954ce68913cc30c966eba3
13  2012-11-13 07:15:06  16e704914f984c67b67fd690ffe41077
14  2012-11-13 07:15:31  44561f65658d4a318684dadee0c5716e
15  2012-11-13 07:15:48  96b5f0ea82dc4a1f94830f3a85ad044e
16  2012-11-13 07:15:57  0fb1d6f9a671439a96ab8cbfc6b569b1
17  2012-11-13 07:16:04  21b319e71dbb48f79d83702a98bfe0f6
18  2012-11-13 07:16:11  7eb0d0caa0c546ccb5f2c04280d095bd
19  2012-11-13 07:16:19  72fb21966d294dda9d3f812450f73ba9
20  2012-11-13 07:16:26  fc196f1f005c4367a43549f52a88102c
21  2012-11-13 07:16:34  c18d2e4901364132bab4dac8ce6cb6dc
22  2012-11-13 07:16:42  fd7cac626c234b779996e7fa4174d34a
23  2012-11-13 07:16:48  85042bb80b6642b8b43db834db316a6f
24  2012-11-13 07:16:56  ae74eaf068b54a5ba7cacd84786287f4
25  2012-11-13 07:17:03  ede324be6dfa4ca9b0bb1c7f3de56fe9
26  2012-11-13 07:17:19  ec138c40594e485582050b0d1a97dc54
27  2012-11-13 07:17:30  65677b2e287043cc896c2766392a5620
28  2012-11-13 07:17:40  6cf5aefee3c94634962f27c91a091b5d
29  2012-11-13 07:17:47  54550dcf82f0456e88f80d667e35e24f
..                  ...                               ...
682 2013-01-14 13:32:05  a5a94cdc9a7d401b9af6c2d3bf014bd7
683 2013-01-14 13:33:16  b6e79ad777e848a69af299c509443911
684 2013-01-14 13:34:30  23f1acd8ed6a49c08b8b0e29ebc3b9e0
685 2013-01-14 13:35:48  133c8a4a05bd4efbba4003c1e7fa0242
686 2013-01-14 13:36:38  e7df8a6270684a2fba386f3612c37d7e
687 2013-01-14 13:37:31  7c593d13855d4e7795043199c54610ff
688 2013-01-14 13:38:30  6073abbcb7b84c7583f99f1738c7d354
689 2013-01-14 13:39:33  385a420ba40241eb945f211b300a6335
690 2013-01-14 13:41:10  22a6b1bf071741fdaf2c7f437c6e3bf5
691 2013-01-14 13:42:53  ec5075b758ef4de18bfe8826e775822b
692 2013-01-14 13:44:28  a1b9a92285784eee8feb8b58b920fb51
693 2013-01-14 13:45:42  1bf315046fe344fbac822f0c376ab306
694 2013-01-14 13:46:06  e8440d9986994bfca2fc15d783a2b3a7
695 2013-01-14 13:46:16  67d64c5b032a47bfb90108a04b7d370b
696 2013-01-14 13:46:28  d93c32a5b7ea4bfea1684998cafb9a39
697 2013-01-14 13:47:14  1c0808a7d1e6438d91fdebaefc362c2b
698 2013-01-14 13:47:37  0b4a8b91502b42e2be76b401b5497adc
699 2013-01-14 13:48:55  9a13fd77b2a74b7fac13d7064ef08ac4
700 2013-01-14 13:49:47  bf9d342338594d539a6a658df0ff24af
701 2013-01-14 13:50:37  be8d02569db14122ac95e63b2ff47d8b
702 2013-01-14 13:51:23  c7835754a3fb4775a99e4c77366cadcb
703 2013-01-14 13:52:41  49f83b5711c648c8a565838af10db3d2
704 2013-01-14 13:53:42  d0f30d33d1124ef6bd18b9b5fcff0cca
705 2013-01-14 13:55:26  cda3d19d32b9444a8dc840927a6f7b4b
706 2013-01-14 13:56:45  a5ffc91557ef4559a0654444ed2d4b28
707 2013-01-14 13:57:56  4e2e72ec18de475e81622e3fc12bbcb3
708 2013-01-14 15:06:30  6a73b47e57a84d31b5e8624319d4a45c
709 2013-01-14 15:06:30  efa4afdc5b28455ea425a2dda5ddcd0c
710 2013-01-14 15:07:13  6e4ab2ffd8024c398857bc842818c175
711 2013-01-28 07:31:47  5de75fa6a7f64a749a965702034a3829

        _xform_id_string animal_number  ... water_mechanism_plate_units  \
0    _08_Water_points_CV      more_500  ...                         NaN
1    _08_Water_points_CV     50_to_500  ...                         NaN
2    _08_Water_points_CV     50_to_500  ...                         NaN
3    _08_Water_points_CV     50_to_500  ...                         NaN
4    _08_Water_points_CV     50_to_500  ...                         NaN
5    _08_Water_points_CV     50_to_500  ...                 horsepoower
6    _08_Water_points_CV     50_to_500  ...                         NaN
7    _08_Water_points_CV     50_to_500  ...                         NaN
8    _08_Water_points_CV     50_to_500  ...                         NaN
9    _08_Water_points_CV     50_to_500  ...                         NaN
10   _08_Water_points_CV     50_to_500  ...                         NaN
11   _08_Water_points_CV     50_to_500  ...                         NaN
12   _08_Water_points_CV     50_to_500  ...                         NaN
13   _08_Water_points_CV     50_to_500  ...                         NaN
14   _08_Water_points_CV           NaN  ...                         NaN
15   _08_Water_points_CV           NaN  ...                         NaN
16   _08_Water_points_CV           NaN  ...                         NaN
17   _08_Water_points_CV           NaN  ...                         NaN
18   _08_Water_points_CV           NaN  ...                         NaN
19   _08_Water_points_CV      10_to_50  ...                         NaN
20   _08_Water_points_CV         na_dn  ...                         NaN
21   _08_Water_points_CV     50_to_500  ...                         NaN
22   _08_Water_points_CV      10_to_50  ...                         NaN
23   _08_Water_points_CV     50_to_500  ...                         NaN
24   _08_Water_points_CV     50_to_500  ...                         NaN
25   _08_Water_points_CV      10_to_50  ...                         NaN
26   _08_Water_points_CV      10_to_50  ...                         NaN
27   _08_Water_points_CV      10_to_50  ...                         NaN
28   _08_Water_points_CV      10_to_50  ...                         NaN
29   _08_Water_points_CV     50_to_500  ...                         NaN
..                   ...           ...  ...                         ...
682  _08_Water_points_CV      10_to_50  ...                         NaN
683  _08_Water_points_CV      10_to_50  ...                         NaN
684  _08_Water_points_CV      10_to_50  ...                         NaN
685  _08_Water_points_CV           NaN  ...                         NaN
686  _08_Water_points_CV      10_to_50  ...                         NaN
687  _08_Water_points_CV      10_to_50  ...                         NaN
688  _08_Water_points_CV      10_to_50  ...                         NaN
689  _08_Water_points_CV           NaN  ...                         NaN
690  _08_Water_points_CV           NaN  ...                         NaN
691  _08_Water_points_CV           NaN  ...                         NaN
692  _08_Water_points_CV           NaN  ...                         NaN
693  _08_Water_points_CV           NaN  ...                         NaN
694  _08_Water_points_CV           NaN  ...                         NaN
695  _08_Water_points_CV     50_to_500  ...                         NaN
696  _08_Water_points_CV           NaN  ...                         NaN
697  _08_Water_points_CV           NaN  ...                         NaN
698  _08_Water_points_CV     50_to_500  ...                         NaN
699  _08_Water_points_CV      10_to_50  ...                         NaN
700  _08_Water_points_CV     50_to_500  ...                         NaN
701  _08_Water_points_CV     50_to_500  ...                         NaN
702  _08_Water_points_CV     50_to_500  ...                         NaN
703  _08_Water_points_CV      10_to_50  ...                         NaN
704  _08_Water_points_CV      10_to_50  ...                         NaN
705  _08_Water_points_CV      10_to_50  ...                         NaN
706  _08_Water_points_CV     50_to_500  ...                         NaN
707  _08_Water_points_CV     50_to_500  ...                         NaN
708  _08_Water_points_CV      10_to_50  ...                         NaN
709  _08_Water_points_CV      10_to_50  ...                         NaN
710  _08_Water_points_CV     50_to_500  ...                         NaN
711  _08_Water_points_CV      10_to_50  ...                         NaN

    water_not_functioning water_pay  water_point_condition  \
0                     NaN        no            functioning
1                     NaN        no            functioning
2                     NaN        no            functioning
3                     NaN        no            functioning
4                     NaN        no            functioning
5                     NaN        no      newly_constructed
6                     NaN        no            functioning
7                     NaN        no      newly_constructed
8      under_construction     na_dn     under_construction
9                     NaN        no            functioning
10                    NaN        no      newly_constructed
11                    NaN        no            functioning
12                    NaN        no            functioning
13                    NaN        no      newly_constructed
14                    NaN        no      newly_constructed
15           kiosk_broken        no              abandoned
16                    NaN        no            functioning
17                    NaN        no            functioning
18                    NaN        no            functioning
19                    NaN        no            functioning
20                    NaN        no            functioning
21                    NaN        no            functioning
22                    NaN        no            functioning
23                    NaN        no            functioning
24                    NaN        no            functioning
25                    NaN        no            functioning
26                    NaN        no            functioning
27                    NaN        no            functioning
28                    NaN        no            functioning
29                    NaN        no            functioning
..                    ...       ...                    ...
682                   NaN        no            functioning
683                   NaN        no            functioning
684                   NaN        no                 broken
685                   NaN        no            functioning
686                   NaN        no            functioning
687                   NaN        no            functioning
688                   NaN        no            functioning
689                   NaN        no            functioning
690                   NaN        no            functioning
691                   NaN        no            functioning
692                   NaN        no            functioning
693                   NaN        no     under_construction
694                   NaN        no      newly_constructed
695                   NaN        no            functioning
696                   NaN        no            functioning
697                   NaN        no            functioning
698                   NaN        no            functioning
699                   NaN        no            functioning
700                   NaN        no            functioning
701                   NaN        no            functioning
702                   NaN        no            functioning
703                   NaN        no            functioning
704                   NaN        no            functioning
705                   NaN        no            functioning
706                   NaN        no            functioning
707                   NaN        no            functioning
708                   NaN        no                 broken
709                   NaN        no                 broken
710                   NaN        no            functioning
711                   NaN        no            functioning

                                water_point_geocode water_point_id  \
0     10.1892764 -0.66410362 155.10000610351563 5.0            xxx
1    10.28173052 -0.56901122 201.89999389648438 5.0            xxx
2    10.28169238 -0.56962993 202.60000610351563 5.0            xxx
3     10.28115661 -0.56918339 199.6999969482422 5.0            xxx
4     10.28044635 -0.56723556 208.6999969482422 5.0            xxx
5    10.27982056 -0.56626599 188.89999389648438 5.0            xxx
6    10.27942235 -0.56682568 193.10000610351563 5.0            xxx
7    10.28070429 -0.56504012 200.10000610351563 5.0            xxx
8     10.28059063 -0.56378338 203.1999969482422 5.0            xxx
9     10.27971937 -0.56286784 199.3000030517578 5.0            xxx

In [3]:
data = pd.DataFrame(df)

In [4]:
data.head()

,_attachments,_bamboo_dataset_id,_deleted_at,_geolocation,_id,_status,_submission_time,_uuid,_xform_id_string,animal_number,...,water_mechanism_plate_units,water_not_functioning,water_pay,water_point_condition,water_point_geocode,water_point_id,water_point_image,water_source_type,water_source_type_other,water_used_season
0,[north_ghana/attachments/1351696546452.jpg],,NaT,"[10.1892764, -0.66410362]",381705,submitted_via_web,2012-11-13 07:13:57,f8bcee72d7a0400fb99ae11bbf804010,_08_Water_points_CV,more_500,...,NaN,NaN,no,functioning,10.1892764 -0.66410362 155.10000610351563 5.0,xxx,1351696546452.jpg,dam_dugout,NaN,year_round
1,[north_ghana/attachments/1351701849971.jpg],,NaT,"[10.28173052, -0.56901122]",381706,submitted_via_web,2012-11-13 07:14:04,c2f6b298955f47ab9f177bee1214141d,_08_Water_points_CV,50_to_500,...,NaN,NaN,no,functioning,10.28173052 -0.56901122 201.89999389648438 5.0,xxx,1351701849971.jpg,unprotected_well,NaN,year_round
2,[north_ghana/attachments/1351702462336.jpg],,NaT,"[10.28169238, -0.56962993]",381707,submitted_via_web,2012-11-13 07:14:07,6bc6d188611d47f6a666cfd1eaa33998,_08_Water_points_CV,50_to_500,...,NaN,NaN,no,functioning,10.28169238 -0.56962993 202.60000610351563 5.0,xxx,1351702462336.jpg,borehole,NaN,year_round
3,[north_ghana/attachments/1351702971561.jpg],,NaT,"[10.28115661, -0.56918339]",381708,submitted_via_web,2012-11-13 07:14:14,4b28ac4cbba744d79ba4257f772f94d6,_08_Water_points_CV,50_to_500,...,NaN,NaN,no,functioning,10.28115661 -0.56918339 199.6999969482422 5.0,xxx,1351702971561.jpg,borehole,NaN,year_round
4,[north_ghana/attachments/1351703622326.jpg],,NaT,"[10.28044635, -0.56723556]",381709,submitted_via_web,2012-11-13 07:14:22,7893ce5321804f229e533f36e90c9c6f,_08_Water_points_CV,50_to_500,...,NaN,NaN,no,functioning,10.28044635 -0.56723556 208.6999969482422 5.0,xxx,1351703622326.jpg,borehole,NaN,year_round

In [6]:
data.tail(3)

,_attachments,_bamboo_dataset_id,_deleted_at,_geolocation,_id,_status,_submission_time,_uuid,_xform_id_string,animal_number,...,water_mechanism_plate_units,water_not_functioning,water_pay,water_point_condition,water_point_geocode,water_point_id,water_point_image,water_source_type,water_source_type_other,water_used_season
709,[north_ghana/attachments/1358081512606.jpg],,NaT,"[10.5379067, -1.38202276]",447063,submitted_via_web,2013-01-14 15:06:30,efa4afdc5b28455ea425a2dda5ddcd0c,_08_Water_points_CV,10_to_50,...,NaN,NaN,no,broken,10.5379067 -1.38202276 229.6999969482422 5.0,Xxx,1358081512606.jpg,borehole,NaN,year_round
710,[north_ghana/attachments/1358175596571.jpg],,NaT,"[10.37563483, -1.34834563]",447065,submitted_via_web,2013-01-14 15:07:13,6e4ab2ffd8024c398857bc842818c175,_08_Water_points_CV,50_to_500,...,NaN,NaN,no,functioning,10.37563483 -1.34834563 161.8000030517578 5.0,xxx,1358175596571.jpg,borehole,NaN,year_round
711,[north_ghana/attachments/1355488003808.jpg],,NaT,"[10.56731484, -1.30751872]",549072,submitted_via_web,2013-01-28 07:31:47,5de75fa6a7f64a749a965702034a3829,_08_Water_points_CV,10_to_50,...,NaN,NaN,no,functioning,10.56731484 -1.30751872 222.6999969482422 5.0,XXX,1355488003808.jpg,unprotected_well,NaN,year_round

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 48 columns):
_attachments                   712 non-null object
_bamboo_dataset_id             712 non-null object
_deleted_at                    0 non-null datetime64[ns]
_geolocation                   712 non-null object
_id                            712 non-null int64
_status                        712 non-null object
_submission_time               712 non-null datetime64[ns]
_uuid                          712 non-null object
_xform_id_string               712 non-null object
animal_number                  528 non-null object
animal_point                   712 non-null object
communities_villages           712 non-null object
date                           712 non-null datetime64[ns]
deviceid                       712 non-null int64
districts_divisions            712 non-null object
end                            712 non-null object
enum_id_1                      712 non-null int64
formhub/uuid                   712 non-null object
grid                           712 non-null object
locations_wards                712 non-null object
other_point_1km                712 non-null object
research_asst_name             712 non-null object
respondent                     712 non-null object
road_available                 712 non-null object
road_type                      334 non-null object
signal                         712 non-null object
simserial                      5 non-null float64
start                          712 non-null object
subscriberid                   5 non-null float64
water_connected                712 non-null object
water_developer                712 non-null object
water_functioning              712 non-null object
water_lift_mechanism           712 non-null object
water_lift_mechanism_type      649 non-null object
water_manager                  712 non-null object
water_manager_name             708 non-null object
water_mechanism_plate          649 non-null object
water_mechanism_plate_no       43 non-null float64
water_mechanism_plate_units    43 non-null object
water_not_functioning          87 non-null object
water_pay                      712 non-null object
water_point_condition          712 non-null object
water_point_geocode            709 non-null object
water_point_id                 712 non-null object
water_point_image              712 non-null object
water_source_type              712 non-null object
water_source_type_other        3 non-null object
water_used_season              712 non-null object
dtypes: datetime64[ns](3), float64(3), int64(3), object(39)
memory usage: 267.1+ KB

In [13]:
essential_attr = data[['_id','communities_villages', 'water_point_condition']]
essential_attr.head(10)

      _id communities_villages water_point_condition
0  381705            Gumaryili           functioning
1  381706            Selinvoya           functioning
2  381707            Selinvoya           functioning
3  381708            Selinvoya           functioning
4  381709            Selinvoya           functioning
5  381710            Selinvoya     newly_constructed
6  381711            Selinvoya           functioning
7  381712            Selinvoya     newly_constructed
8  381713            Selinvoya    under_construction
9  381714            Selinvoya           functioning

# Number of Functional Water Point

In [14]:
essential_attr.isnull().sum()

_id                      0
communities_villages     0
water_point_condition    0
dtype: int64

In [25]:
def WaterFunctional(essential_attr):
    okay= essential_attr.water_point_condition.value_counts()
    return okay
WaterFunctional(essential_attr)

functioning           590
broken                 40
abandoned              36
newly_constructed      28
under_construction     16
na_dn                   2
Name: water_point_condition, dtype: int64

# Number of Water Points per Community

In [28]:
def WaterPerCommunity(essential_attr):
    summ =essential_attr.groupby(essential_attr["communities_villages"])['water_point_condition'].value_counts()
    return summ
    
WaterPerCommunity(essential_attr)

communities_villages  water_point_condition
Abanyeri              functioning               3
                      newly_constructed         1
Akpari-yeri           functioning               3
Alavanyo              functioning               2
                      abandoned                 1
Arigu                 functioning               6
                      abandoned                 4
                      broken                    2
Badomsa               functioning              26
                      newly_constructed         1
Bandem                functioning               4
                      broken                    2
                      newly_constructed         1
Banyangsa             functioning               8
                      broken                    1
                      na_dn                     1
Bechinsa              functioning              26
Chanpolinsa           functioning               4
Chansa                functioning               9
Chondema              functioning               4
Dibisi                functioning               2
Dorinsa               functioning              13
                      newly_constructed         3
                      under_construction        1
Fiisa                 functioning               5
Gaadem                functioning               2
Garigu                functioning               1
Gbaarigu              broken                    2
                      functioning               2
                      abandoned                 1
                                               ..
Soo                   under_construction        1
Suik                  functioning               1
Tankangsa             functioning               4
                      newly_constructed         2
Tantala               functioning              16
                      abandoned                 4
                      broken                    1
                      under_construction        1
Tuisa                 functioning               4
Vundema               functioning               3
                      broken                    2
Zangu-Vuga            functioning              10
                      abandoned                 3
Zanwara               functioning               6
                      broken                    2
                      abandoned                 1
                      under_construction        1
Zogsa                 functioning               5
                      broken                    1
Zua                   functioning              20
                      abandoned                 4
                      under_construction        2
                      na_dn                     1
                      newly_constructed         1
Zuedema               functioning              18
Zukpeni               abandoned                 3
                      functioning               2
                      broken                    1
Zundem                functioning              29
                      under_construction        1
Name: water_point_condition, Length: 134, dtype: int64

# Community Ranking  as a percentage of Brocken Water Points

In [37]:
def PercentageBrocken(essential_attr):
    counts =essential_attr.groupby(essential_attr["communities_villages"])['water_point_condition'].value_counts('broken')
    return counts
PercentageBrocken(essential_attr)

communities_villages  water_point_condition
Abanyeri              functioning              0.750000
                      newly_constructed        0.250000
Akpari-yeri           functioning              1.000000
Alavanyo              functioning              0.666667
                      abandoned                0.333333
Arigu                 functioning              0.500000
                      abandoned                0.333333
                      broken                   0.166667
Badomsa               functioning              0.962963
                      newly_constructed        0.037037
Bandem                functioning              0.571429
                      broken                   0.285714
                      newly_constructed        0.142857
Banyangsa             functioning              0.800000
                      broken                   0.100000
                      na_dn                    0.100000
Bechinsa              functioning              1.000000
Chanpolinsa           functioning              1.000000
Chansa                functioning              1.000000
Chondema              functioning              1.000000
Dibisi                functioning              1.000000
Dorinsa               functioning              0.764706
                      newly_constructed        0.176471
                      under_construction       0.058824
Fiisa                 functioning              1.000000
Gaadem                functioning              1.000000
Garigu                functioning              1.000000
Gbaarigu              broken                   0.400000
                      functioning              0.400000
                      abandoned                0.200000
                                                 ...
Soo                   under_construction       0.142857
Suik                  functioning              1.000000
Tankangsa             functioning              0.666667
                      newly_constructed        0.333333
Tantala               functioning              0.727273
                      abandoned                0.181818
                      broken                   0.045455
                      under_construction       0.045455
Tuisa                 functioning              1.000000
Vundema               functioning              0.600000
                      broken                   0.400000
Zangu-Vuga            functioning              0.769231
                      abandoned                0.230769
Zanwara               functioning              0.600000
                      broken                   0.200000
                      abandoned                0.100000
                      under_construction       0.100000
Zogsa                 functioning              0.833333
                      broken                   0.166667
Zua                   functioning              0.714286
                      abandoned                0.142857
                      under_construction       0.071429
                      na_dn                    0.035714
                      newly_constructed        0.035714
Zuedema               functioning              1.000000
Zukpeni               abandoned                0.500000
                      functioning              0.333333
                      broken                   0.166667
Zundem                functioning              0.966667
                      under_construction       0.033333
Name: water_point_condition, Length: 134, dtype: float64

# Conclusion

High percentage of the water points are functional and few are brocken. 

A good number are either abandoned or under construction or newly_constructed